#board-list {
		 overflow-x:auto;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

section.notice {
	padding: 80px 0;
}

.page-title {
	margin-bottom: 60px;
}

.page-title h3 {
	font-size: 28px;
	color: #333333;
	font-weight: 400;
	text-align: center;
}

#board-search .search-window {
	padding: 5px 0;
/* 	background-color: #f9f7f9; */
}

#board-search .search-window .search-wrap {
	position: relative;
	/*   padding-right: 124px; */
	margin: 0 auto;
	width: 80%;
	max-width: 564px;
}

#board-search .search-window .search-wrap input {
	height: 40px;
	width: 100%;
	font-size: 14px;
	padding: 7px 14px;
	border: 1px solid #ccc;
}

#board-search .search-window .search-wrap input:focus {
	border-color: #333;
	outline: 0;
	border-width: 1px;
}

#board-search .search-window .search-wrap .btn {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 108px;
	padding: 0;
	font-size: 16px;
}

.board-table {
	font-size: 13px;
	width: 100%;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.board-table a {
	color: #333;
	display: inline-block;
	line-height: 1.4;
	word-break: break-all;
	vertical-align: middle;
}

.board-table a:hover {
	text-decoration: underline;
}

.board-table th {
	text-align: center;
}

.board-table .th-num {
	width: 50px;
	text-align: center;
}

th.th-title {
	width: 500px;
}

th {
	background-color: #f9f7f9;
}

.board-table .th-date {
	width: 110px;
}

.board-table th, .board-table td {
	padding: 14px 0;
}

.board-table tbody td {
	border-top: 1px solid #e7e7e7;
	text-align: center;
}

.board-table tbody th {
	padding-left: 28px;
	padding-right: 14px;
	border-top: 1px solid #e7e7e7;
	text-align: left;
}

.board-table tbody th p {
	display: none;
}

.btn {
	display: inline-block;
	padding: 0 30px;
	font-size: 15px;
	font-weight: 400;
	background: transparent;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	text-transform: uppercase;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.btn-dark {
	background: #555;
	color: #fff;
}

.btn-dark:hover, .btn-dark:focus {
	background: #373737;
	border-color: #373737;
	color: #fff;
}

.btn-dark {
	background: #555;
	color: #fff;
}

.btn-dark:hover, .btn-dark:focus {
	background: #373737;
	border-color: #373737;
	color: #fff;
}

/* reset */
* {
	list-style: none;
	text-decoration: none;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.clearfix:after {
	content: '';
	display: block;
	clear: both;
}

.container {
	width: 1100px;
	margin: 0 auto;
}

.blind {
	position: absolute;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	margin: -1px;
	width: 1px;
	height: 1px;
}

* {
	box-sizing: border-box;
}

body {
	background-color: #f6f7fb;
	color: #888da8;
	letter-spacing: 0.2px;
	font-family: 'Roboto', sans-serif;
	padding: 0;
	margin: 0;
}

input, textarea, select {
	padding: 0 8px;
	border: 1px solid #d6dae1;
	border-radius: 3px;
	box-sizing: border-box;
	line-height: 28px;
}

th, td {
	padding: 9px 9px 7px !important;
	border: 1px solid #d9dadc;
    height: 53px;
	
}

a, p, span, div, li, td {
	font-weight: 300 !important;
	text-decoration: none;
}

::placeholder {
	color: #ccc !important;
	font-weight: 300;
}

:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: #ccc !important;
	font-weight: 300;
}

::-ms-input-placeholder {
	/* Microsoft Edge */
	color: #ccc !important;
	font-weight: 300;
}

input {
	border-color: #d8e0e5;
	border-radius: 2px !important;
	box-shadow: none !important;
	font-weight: 300 !important;
	height: 30px;
}



.form-control:disabled, .form-control[readonly] {
	background-color: #f6f7fb;
}

button.btn {
	border-radius: 2px !important;
	box-shadow: none !important;
	margin-bottom: 6px;
	background: #3a3939 !important;
    border-color: #3a3939 !important;
}

/* button.btn.btn-primary {
	background-color: #0e9aee !important;
}
 */
button.btn.btn-primary:hover {
	background-color: #0879c8 !important;
}

#left-menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 280px;
	background-color: #313644;
	overflow-y: auto;
	height: 100vh;
	border-right: 1px solid #e6ecf5;
	margin-top: 60px;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	overflow-x: hidden;
	z-index: 2;
}

#left-menu.small-left-menu, #logo.small-left-menu {
	width: 60px;
}

#left-menu ul {
	padding: 0;
	margin: 0;
}

#left-menu ul li {
	padding: 0 10px;
	display: block;
	position: relative;
}

#left-menu>ul>li {
	margin: 15px 0;
}

#left-menu ul li a {
	color: #99abb4;
	width: 100%;
	display: inline-block;
	width: 260px;
	height: 37px;
	position: relative;
}

#left-menu ul li a i {
	font-size: 22px;
	text-align: center;
	width: 35px;
	height: 35px;
	display: inline-block;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

#left-menu ul li:hover a span {
	color: #0e9aee;
	text-decoration: none;
}

#left-menu ul li:hover a i {
	color: #0e9aee;
}

#left-menu ul li a span {
	width: 100%;
	height: 35px;
	padding-left: 10px;
	color: #99abb4;
	font-weight: 300;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

#left-menu ul li.active a {
	border-bottom: 2px solid #0e9aee;
}

#left-menu ul li.active a span {
	color: #fff;
}

#left-menu ul li.active a i {
	background-color: #0e9aee;
	color: #fff;
}

#left-menu li.has-sub ul {
	background-color: #454e62;
	margin: 0 -10px;
	padding-left: 45px;
	height: 0;
	overflow: hidden;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

/* #left-menu li ul.open {
   height: 140px;
} */
#left-menu li.has-sub ul>li {
	padding-top: 10px;
}

a:hover {
	text-decoration: none;
}

#logo {
	position: fixed;
	top: 0;
	z-index: 2;
	left: 0;
	background-color: #464e62;
	border-color: #464e62;
	height: 60px;
	width: 280px;
	font-size: 30px;
	line-height: 2em;
	border-right: 1px solid #e6ecf5;
	z-index: 4;
	color: #fff;
	padding-left: 15px;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	overflow: hidden;
}

#header {
	background-color: #fff;
	height: 60px;
	border-bottom: 1px solid #e6ecf5;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 3;
}

#header .header-left {
	padding-left: 300px;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

#header .header-right {
	padding-right: 40px;
}

#header .header-right i, #header .header-left i {
	font-size: 30px;
	line-height: 2em;
	padding: 0 5px;
	cursor: pointer;
}

#main-content {
/* 	min-height: calc(100vh - 60px); qna 글쓰기 영향*/ 
	clear: both;
}

#page-container {
	padding-left: 300px;
	padding-top: 80px;
	padding-right: 25px;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

#page-container.small-left-menu, #header .header-left.small-left-menu {
	padding-left: 80px;
}

.card {
	border: 1px solid #e6ecf5;
	margin-bottom: 1em;
	font-weight: 300;
	padding: 20px;
}

.card .title {
	padding: 15px 20px;
	border-bottom: 1px solid #e6ecf5;
	margin-bottom: 10px;
	color: #000;
	font-size: 18px;
}

#show-lable {
	opacity: 0;
	visibility: hidden;
	left: 80px;
	font-weight: 300;
	padding: 6px 15px;
	background-color: #0e9aee;
	position: fixed;
	color: #fff;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

#left-menu.small-left-menu li.has-sub::after {
	content: '';
}

#left-menu.small-left-menu li.has-sub ul {
	position: fixed;
	width: 280px;
	z-index: 123;
	height: 0;
	left: 69px;
	padding-left: 15px;
}

@media only screen and (max-width: 992px) {
	#left-menu, #logo {
		width: 60px;
	}
	#page-container, #header .header-left {
		padding-left: 80px;
	}
	#toggle-left-menu, .big-logo {
		display: none;
	}
}

@media only screen and (min-width: 992px) {
	#left-menu li.has-sub::after {
		font-family: "Ionicons";
		content: "\f3d3";
		position: absolute;
		top: 10px;
		right: 10px;
		cursor: pointer;
		transform: rotate(0deg);
		-webkit-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}
	#left-menu li.has-sub.rotate:after {
		-webkit-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		-o-transform: rotate(90deg);
		transform: rotate(90deg);
	}
	.small-logo {
		display: none;
	}
}



section#pageList {
    margin: 0 auto;
    margin-top: 10px;
}




.col-6.col-sm-3 {
    cursor: pointer;
}


.formCss select,input#search ,input#value{
	height:35px;
	
}


.panel-body:before {
    content: '';
    position: absolute;
    background-color: #b9b9b9;
    height: 3px;
    width: 0;
    bottom: 0;
    transition: 0.7s;
    left: 50%;
    transform: translateX(-50%);
}
.panel-body:hover:before {
    width: 79%;
}


input[type="button"] {
    margin-top: 12px;
    }
   
input[type="radio"] {
    display: inline-block;
    width: 20px;
    height: 12px;
    cursor: pointer;
}

    
button.btn.btn-primary,button.btn.btn-danger{
    margin-top: 10px;
}

i.icon.ion-ios-home {
    margin-right: 10px;
}
    
    
td.leftTd {
    text-align: left !important;
}